{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="login-main">
    <h1 class="login-logo">
      <img src="{% static 'assets/symbol-logo-W.png' %}" alt="감귤마켓">
    </h1>
    <section class="login-main-container">
      <form method="post" action="{% url 'login' %}">
        {%csrf_token %}
        {{ form.as_p }}
        <button class="l-button" type="submit">로그인</button>
      </form>
      <div class="login-join-cont">
        <a href="{% url 'market:market_register' %}" class="join-link">회원가입</a>
      </div>
    </section>
  </main>
{% endblock %}